p {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
}

body {
    background-image: url("https://images.freeimages.com/images/large-previews/754/calculator-1416264.jpg");
    align-content: center;
    
}
h1 {
    text-align: center;
}