p {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
}

body {
    background-image: url("https://img.freepik.com/vetores-premium/calculadora-preta-com-fundo-branco-design-moderno-calculadora-eletronica-portatil_100456-5842.jpg");
    align-content: center;
    
}
h1 {
    text-align: center;
}